@use "bootstrap" as *;
@use "colors" as c;
@use "search_form";

#find-jobs {
  // *******************************
  // * Job Feed & Search
  // *******************************
  .nav-tabs {
    border-width: 3px;
    background-color: $white;
    border-radius: 1rem;
  }

  .nav-tabs .nav-item {
    position: relative;

    .nav-link.active {
      background-color: unset;
    }

    button {
      color: black;
      border: none;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 1rem;
      right: 0;
      bottom: -3px;
      background-color: c.$neon-blue;
      height: 0.2rem;
      width: 100%;
      transform: scaleX(0);
      transition: transform 0.5s;
    }

    &:focus-within {
      font-weight: 500;
      &::after {
        transform: scaleX(0.75);
      }
    }
  }

  // *******************************
  // * JobMiniCard
  // *******************************
  .id__job-mini-card {
    a {
      text-decoration: none;
      color: black;
    }

    .btn.position-relative {
      z-index: 10;
    }
  }

  // *******************************
  // * SelectedJobCard
  // *******************************
  #selected-job-card {
    position: sticky;
    top: 4.5rem;
    max-height: 90vh;
    border: 2px solid c.$space-cadet;

    .selected-job-head {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      box-shadow: 0px 6px 5px $gray-300;
      outline: c.$space-cadet solid 2px;
    }

    .selected-job-body {
      overflow-y: scroll;
      z-index: -1;
    }
  }

  // *******************************
  // * CardTags
  // *******************************
  .job-card-tag {
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 0 0.5rem;

    span {
      vertical-align: middle;
    }

    &.alert-secondary {
      background-color: $orange-100;
      border-color: $orange-200;
    }

    &.extra-tag {
      background: transparent;
      border: none;
    }
  }

  // *******************************
  // * Media Queries
  // *******************************

  @include media-breakpoint-up(md) {
    .nav-tabs .nav-item {
      font-size: 1.25rem;
    }

    .job-highlight-border {
      border-left: 2px solid c.$neon-blue !important;
    }
  }
}
