@use "bootstrap" as *;
@use "colors" as c;

$active-bg-color: shift-color(c.$majorelle-blue, 10%);
$active-bg-hover-color: shift-color(c.$majorelle-blue, -10%);

.main-navbar {
  color: white;
  background: c.$yale-blue;

  .navbar-brand {
    border-radius: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    transition: background-color 0.2s ease-in-out;
  }

  .navbar-brand:hover {
    background-color: $active-bg-color;
  }

  .navbar-brand,
  .nav-link {
    color: whitesmoke;
  }

  .nav-link {
    position: relative;
    border-radius: 0.5rem;

    &.active {
      color: white;
      background-color: $active-bg-color;
    }
    &.active:hover {
      color: white;
      background-color: $active-bg-hover-color;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 1rem;
      right: 5%;
      bottom: 5px;
      background-color: shift-color(c.$majorelle-blue, -30%);
      height: 0.3rem;
      width: 90%;
      transform: scaleX(0);
      transition: transform 0.5s;
    }
    &.active::after {
      display: none;
    }
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }

  @include media-breakpoint-up(md) {
    // margin: 0.5rem 1rem 0rem;
    top: 0.5rem;

    border-radius: 0.75rem;
  }
}
