@use "bootstrap" as *;
@use "colors" as c;
@use "mixins";

#setup-account {
  @include mixins.btn-rfs();
  @include mixins.custom-btn();

  font-family: "Inter", $font-family-base;
  font-weight: 500;

  .btn-link-custom {
    color: white;
    text-decoration: none;

    &:hover {
      color: unset;
    }
  }

  #account-type {
    margin: auto;
    max-width: 700px;

    .form-check-card {
      border: 3px solid $gray-500;
      border-radius: 1rem;
      opacity: 0.7;
      transition: opacity 0.3s;

      &:hover {
        border: 3px solid $gray-500;
        opacity: 1;
      }

      &.selected {
        border-color: black;
        background-color: $blue-100;
        opacity: 1;
      }

      h5 {
        font-weight: bold;
      }
    }

    .card-form-img {
      width: 40%;
      height: auto;
      border-radius: 2rem;
      border: 1px solid $gray-500;
      background-color: whitesmoke;
    }
  }

  #business-form,
  #business-rep-form,
  #personal-form {
    margin: auto;
    max-width: 768px;
  }

  .form-confirmation .form-floating label {
    transform: scale(0.85) translateY(-1.2rem) translateX(1.75rem);
  }

  @include media-breakpoint-up(md) {
    #business-form,
    #business-rep-form,
    #personal-form {
      margin-top: 1rem;
    }
    #account-type {
      .card-form-img {
        width: 70%;
      }

      button[type="submit"] {
        font-size: 1.5rem;
      }
    }

    .uploaded-img {
      width: 30%;
    }

    .upload-span {
      font-size: $h3-font-size;
      width: fit-content;
      display: flex;
      align-items: center;
    }

    .form-confirmation .form-floating label {
      transform: scale(0.85) translateY(-1.2rem) translateX(3rem);
    }
  }

  @include media-breakpoint-up(lg) {
    .upload-span {
      font-size: $h2-font-size;
    }
  }
}
