@use "bootstrap" as *;
@use "colors" as c;
@use "mixins";

#setup-account {
  @include mixins.btn-rfs();
  @include mixins.custom-btn();
  font-family: "Inter", $font-family-base;
  font-weight: 500;
  max-width: 650px;

  .btn-link-custom {
    color: white;
    text-decoration: none;

    &:hover {
      color: unset;
    }
  }

  .account-type {
    border: 3px solid $gray-500;
    border-radius: 1rem;
    opacity: 0.7;
    transition: opacity 0.3s;
    height: fit-content;

    &:hover {
      border: 3px solid $gray-500;
      opacity: 1;
    }

    &.selected {
      border-color: black;
      background-color: $blue-100;
      opacity: 1;
    }

    h4 {
      font-weight: 700;
    }
  }

  .account-form-icon {
    width: 40%;
    height: auto;
    border-radius: 2rem;
    border: 1px solid $gray-500;
    background-color: whitesmoke;
  }

  .uploaded-img {
    width: 60%;
    height: auto;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    flex-grow: 0;
  }

  .upload-span {
    font-size: $h4-font-size;
    font-weight: 500;
    width: 100%;
  }

  .form-confirmation .form-floating label {
    transform: scale(0.85) translateY(-1.2rem) translateX(1.75rem);
  }

  @include media-breakpoint-up(md) {
    .account-form-icon {
      width: 70%;
    }

    .uploaded-img {
      width: 30%;
    }

    .upload-span {
      font-size: $h3-font-size;
      width: fit-content;
      display: flex;
      align-items: center;
    }

    .form-confirmation .form-floating label {
      transform: scale(0.85) translateY(-1.2rem) translateX(3rem);
    }
  }

  @include media-breakpoint-up(lg) {
    .upload-span {
      font-size: $h2-font-size;
    }
  }
}
